#devise-sessions, #devise-registrations, #devise-confirmations , #devise-mailer
, #devise-passwords #devise-shared, #devise-unlocks {
  background: linear-gradient( $pink-color, $yellow-color);
  /*background-image: url("bckg_pop.png");*/
  background-attachment: fixed;
  background-size: cover;
  padding-top: 14vh;
}