.posts-show-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 5vw;
  width: 100%;
  box-sizing: border-box;
  h1 {
    font-size: 21px;
  }
}

%postshowlayout {
  font-family: 'Open Sans', helvetica, sans-serif;
  text-align: justify;
  font-size: 13px;
  line-height: 1.5;
  width: 100%;
}
.post-preview-content {
  @extend %postshowlayout;
  font-weight: bold;
  margin: 2vh 0vw;
}

.post-content-posts {
  @extend %postshowlayout;
  img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1200px) {
  .posts-show-wrapper {
    padding: 0;
    &>h1 {
      background-color: $yellow-color;
      font-size: 180%;
      text-align: center;
      padding: 2vh 5vw;
      line-height: 130%;
    }
  }
  .post-date-user-posts-show {
    background-color: $yellow-color;
    width: 100%;
    text-align: center;
    padding-bottom: 2vh;
  }
  .post-preview-content, .post-content-posts {
    box-sizing: border-box;
    color: rgba(0,0,0,.7);
    font-size: 100%;
    line-height: 150%;
    padding: 2vh 5vw;
  }
}