// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* CONTAINER STYLES */
#posts {
  background: linear-gradient( $pink-color, $yellow-color);
  padding-top: 14vh;
}

%postswrapper {
  width: 100%;
  display: flex;
  flex-direction:column;
  &>h1, >span {
    text-align: center;
    font-family: $bree-font;
    font-size: 30px;
    text-transform: uppercase;
  }
  &>h1 {
    margin: 5vh auto 5vh auto;
    display: inline-block;
    padding: 2vh 0.2vw;
    color: $yellow-color;
    background-color: $pink-color;
  }
  &>span {
    display: inline-block;
    color: $pink-color;
    margin-bottom: 5vh;
  }
}

.posts-home-wrapper, .posts-index-wrapper {
  @extend %postswrapper
}


.posts-new-wrapper {
  align-items: center;
  @extend %postswrapper
}

/* CONTENT STYLES */

.index-posts-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.index-posts {
  display: flex;
  box-sizing: border-box;
  margin: 2vh 5vw;
  padding: 0 0 4vh 0;
  border-bottom: solid 1px #b4b4b4;
}

.thumbnails-posts {
  margin-right: 2vw;
  img {
    height: 100%;
  }
}

.info-posts { 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &>h2 {
    text-transform: uppercase;
  }
}

.post-category-posts {
  font-family: $bree-font;
  color: $pink-color;
  font-size: 17px;
  text-transform: uppercase;
}

.post-date-posts {
  font-family: $inconsolata-font;
  font-size: 14px;
}

.post-user-posts {
  color: $brown-color;
  font-style: italic;
  font-weight: bold;
  font-family: 'Open-sans', sans-serif;
  font-size: 13px;
}

.post-preview-posts, .post-content-posts {
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 13px;
  line-height: 19px;
  font-weight: normal;
  text-align: justify;
  a {
    text-decoration: none;
    color: $pink-color;
  }
}

.post-show-button {
  display: flex;
  align-items: center;
  a {
    white-space: nowrap;
    font-size: 13px;
    font-family: 'Open Sans', helvetica, sans-serif;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:lighter;
    background-color: $yellow-color;
    padding: 1.5vh 1vw;
 }
}

/* FORM STYLES */
.post-form {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin-bottom: 5vh;
  &>label {
    margin: 1vh 0vw;
  }
}

/* EDITOR STYLES */

.text-editor {
  width: 100%;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  &>input {
    margin-bottom: 1vh;
  }
}

.text-editor-menu, {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 88%;
  margin: auto;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  .paragraphe-button {
  border-radius: 0;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: inset 0 1px 1px -1px rgba(0,0,0,.2);
  font-size: 13px;
  line-height: 20px;
  padding-left: 6px;
  padding-right: 20px;
}

  input, select {
    min-height: 30px;
    margin: 3px;
    border-radius: 2px;
  }
}

#text-editor-input, #text-editor-output { 
  width: 80%;// La largeur de l'éditeur
  height: 100%; // La hauteur de l'éditeur
  border: 1px solid #ddd;; // Une bordure pour bien voir l'éditeur
  padding: 4% 4% ; // Une petite marge intérieure
  overflow: auto; // Cette propriété sert à envoyer le texte à la ligne au cas où il dépasse la largeur définie avant
}

.textarea-wrapper {
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.actif {
  background-color: grey;
}