// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* CONTAINER STYLES */

#static_pages {
  /*background: linear-gradient( $pink-color, $yellow-color);*/
  background-image: url(image-path('bckg_pop.png'));
  background-attachment: fixed;
  background-size: cover;
  padding-top: 14vh;
}

/* GLOBAL PAGE STYLES */

%lists-menu {
  display: flex;
    li {
      list-style-type: none;
    }
    &> li a {
      text-decoration: none;
    }
    /*all li elements next to an initial li */
}

/* HEADER STYLES */
.header {
  height: 100%;
  width: 70vw;
  margin: auto;
  display: flex;
  box-sizing: border-box;
  padding: 0 20px;
}

.header-logo {
  width: 40%;
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  img {
    height: 6.5vh;
  }
}

.social-nav-block {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.header-social {
  height: 50%;
  padding: 1vh 0;
}

.header-nav {
  height: 50%;
  padding: 1vh 0;
}

.header-list {
  height: 100%;
  @extend %lists-menu;
  /*all li elements next to an initial li */
    &> li ~ li {
      padding-left: 1em;
    }
}

.social-list {
  justify-content:flex-end;
  align-items: flex-start;
  a {
  font-size: 11px;
  font-style: italic;
  color: $yellow-color;
  font-family: 'Open Sans', helvetica, sans-serif;
  }
}

.nav-list {
  justify-content:flex-end;
  align-items: flex-end;
    a {
      color: $yellow-color;
      font-family: $bree-font;
      font-size: 16.5px;
      text-decoration: none;
      text-transform: uppercase;
    }
    a:hover{
      background-color:#ea5091;
    }
    a:active{
      opacity: 0.8;
  }
}

.header-admin{
  li {
    a {
    color:red;
    }
  }
}

.site-title {
  font-size: 18.5px;
  color: $yellow-color;
  font-family: $bree-font;
  text-transform: uppercase;
}

.site-description {
  color: $pink-color;
  font-size: 13px;
  font-family: $inconsolata-font;
  font-style: normal;
  text-transform: uppercase;
}

/* MOBILE MENU */
.mobile-menu-check,
.show-mobile-menu {
  display: none;
}

/* FOOTER STYLES */

.footer {
  background-color: $purple-color;
  height: 100%;
  width: 100%;
  margin: auto;
  padding: 0 15vw;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}

.copyright {
  color: $yellow-color;
  font-size: 11.5px;
  font-family: $inconsolata-font;
}

.footer-list {
  @extend %lists-menu;
    &> li ~ li {
    padding-left: 1em;
  }
}

@media (max-width: 1200px) {

  /* HEADER STYLES */
  .header {
    width: 100%;
    padding: 0 5vw;
  }
  .header-logo {
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
    width: 66%;
    &>h1 {
      position:absolute;
      float: left;
      left: 50%;
      transform: translate(-50%, 0%);
    }
    &>h2 {
      display:none;
    }
    &>a {
      width: 33vw;
    }
  }
  .social-nav-block {
    width: 34%;
  }

  /* MOBILE MENU */
  .fa-bars {
    color: $yellow-color;
  }
  .show-mobile-menu {
    display: block;
  }
  .header-social {
    display: none;
  }
  .header-admin {
    display:none;
  }
  .header-nav {
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .header-list {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: all 0.5s ease-in-out;
    background-color: $purple-color;
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    top: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    &>li {
    }
    &>li~li {
      padding: 0.5% 0 0;
    }
  }
  .mobile-menu-check:checked ~ .header-list {
    max-height: 1000px;
    height: 40vh;
    overflow: scroll;
  }

  /* CONTENT STYLES */
  #static_pages {
    background-image: none;
  }
}