<footer class="footer">
  <div class="copyright">
    <p> © THE BERGERIE 2016-2017 </p>
  </div>
  <div class="social-list">
    <ul class="footer-list social-list">
      <li><a href="#">Suivez-nous!</a></li>
      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fab fa-tumblr"></i></a></li>
      <li><a href="#"><i class="fab fa-youtube"></i></a></li>
  </ul>
  </div>
</footer>