<header class="header">
  <div class="header-logo">
    <%= link_to image_tag("logo_b.png", alt: "Logo TheBergerie"), 'http://thebergerie.net/' %>
    <h1 class="site-title">The Bergerie</h1>
    <h2 class="site-description">Le meilleur de l'élevage pop-culturel!</h2>
  </div>
  <div class="social-nav-block">
    <div class="header-social">
      <ul class="header-list social-list">
        <li><a href="#">Suivez-nous!</a></li>
        <li><a href="#">Actualité</a></li>
        <li><a href="#">Art/Culture</a></li>
        <li><a href="#">Cinéma</a></li>
        <li><a href="#">Musique</a></li>
      </ul>
    </div>
    <!--<div class="header-nav">-->
      <nav class="header-nav">
        <ul class="header-list nav-list">
          <li><a href="#">Home</a></li>
          <li><a href="#">Actualité</a></li>
          <li><a href="#">Art/Culture</a></li>
          <li><a href="#">Cinéma</a></li>
          <li><a href="#">Musique</a></li>
          <li><a href="#">À propos</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>